<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gestion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=172.27.208.40:1523/dcgestio;user id=cgestion;password=xR2$kM7%fP3dT1oQ;" />
    <!--<add key="ConnectionString" value="Data Source=bnodora26-b:1523/dcgestio;user id=cgestion;password=cgestion;"/> -->
    <add key="SmtpServer" value="BANSCEVS01.banobras.gob.mx" />
    <!-- DEFAULT ROLE FOR NEW USER
      From the TTUser BLL Component:
        Project Manager = "2"
        Consultant = "3"
    -->
    <add key="DefaultRoleForNewUser" value="1" />
    <!-- USER ACCOUNT SOURCE
      WindowsSAM, ActiveDirectory, or None
    -->
    <add key="UserAccountSource" value="None" />
    <!-- FIRST DAY OF WEEK
      0 = Sunday
      ...
      6 = Saturday
    -->
    <add key="FirstDayOfWeek" value="1" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="800000" />
    <identity impersonate="false" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="600" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" uiCulture="es-MX" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <Gestion.Properties.Settings>
      <setting name="SET_FORMAT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GLOBAL_FORMAT" serializeAs="String">
        <value>DD/MM/RRRR HH:MI:SS</value>
      </setting>
    </Gestion.Properties.Settings>
  </applicationSettings>
</configuration>