BODY
{
    BACKGROUND-COLOR: white;
    COLOR: black
}
.TaskTable
{
    BACKGROUND-COLOR: #eadfc0;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt
}
.serviceTable
{
    BACKGROUND-COLOR: blue;
    COLOR: #ce6331;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt
}


.newsTitle
{
    COLOR: #000067;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 13pt;
    FONT-WEIGHT: 900
}

.newsTitle1
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: 900
}


.newsAbstract
{
    BACKGROUND-COLOR: white;
    COLOR: #000000;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: justify
}
.sectionDivision
{
    BACKGROUND-ATTACHMENT: scroll;
    BACKGROUND-COLOR: #228b22;
    BACKGROUND-IMAGE: url(../images/top_nav.jpg);
    BACKGROUND-REPEAT: repeat-x;
    COLOR: #fffff0;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 500;
    PADDING-LEFT: 4pt;
    PADDING-RIGHT: 4pt
}
.tip
{
    BACKGROUND-COLOR: #d7d7d7;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 3pt;
    PADDING-LEFT: 3pt;
    PADDING-RIGHT: 3pt;
    PADDING-TOP: 3pt
}
A:link
{
    COLOR: #466f9d;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: #466f9d;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #466f9d;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #466f9d;
    TEXT-DECORATION: none
}
.serviceTable A:link
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.serviceTable A:visited
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.serviceTable A:active
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.serviceTable A:hover
{
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
.TaskTable A:link
{
    COLOR: black;
    TEXT-DECORATION: none
}
.TaskTable A:visited
{
    COLOR: black;
    TEXT-DECORATION: none
}
.TaskTable A:hover
{
    BACKGROUND-COLOR: #7291b9;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.imageBtn
{
    CURSOR: hand
}
.TaskTable A
{
    COLOR: black
}
.tip A
{
    COLOR: black
}
.tip A:active
{
    COLOR: black
}
.tip A:visited
{
    COLOR: black
}
.TaskTable A:active
{
    BACKGROUND-COLOR: #7291b9;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.tip A:link
{
    COLOR: black
}
.tip A:hover
{
    COLOR: black
}
.copyright
{
    COLOR: black;
    FONT-FAMILY: Arial, Tahoma;
    FONT-SIZE: 7pt;
    LINE-HEIGHT: 12pt;
    TEXT-ALIGN: center
}
.sectionDivision A
{
    COLOR: white;
    FONT-SIZE: 8pt
}
.pollButton
{
    BACKGROUND-COLOR: #ffffff;
    BACKGROUND-IMAGE: none;
    BACKGROUND-REPEAT: repeat;
    BORDER-BOTTOM: #a9a9a9 1px solid;
    BORDER-LEFT: #d3d3d3 1px solid;
    BORDER-RIGHT: #a9a9a9 1px solid;
    BORDER-TOP: #d3d3d3 1px solid;
    COLOR: black;
    CURSOR: hand;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    HEIGHT: 20px;
    TEXT-DECORATION: none
}
.pollTable
{
    BACKGROUND-COLOR: White;
    COLOR: #466f9d;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 700;
    TEXT-DECORATION: none
}

.subHeaderP
{
    BACKGROUND-COLOR: White;
    COLOR: #466f9d;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 100;
    TEXT-DECORATION: none
}


.ellipsisLink
{
    COLOR: white;
    CURSOR: hand
}
